// $primary-color: rgb(0, 102, 150);

// @import url('https://fonts.googleapis.com/css2?family=Imbue&family=Roboto&display=swap');

// // * {
// //   left: 15%;
// //   right: 15%
// // }
// * {
//   font-family: 'Roboto', sans-serif;
// }

// h1 {
//   font-family: 'Imbue', serif;
//   font-size: 2.5rem;
// }

// img {
//   width: 200px;
//   height: auto;
//   margin: 5px 5px 5px 5px;
// }

// .recipe-card {
//   display: flex;
//   margin: 10px;
//   background-color: lightgrey;
//   left: 15%;
//   right: 15%;
// }

// .recipe-details {
//   display: flex;
//   flex-direction: column;
//   // justify-content: space-between;
// }
// .recipe-popup {
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   margin: auto;
//   background-color: rgba(0, 0, 0, 0.5);
// }
// .recipe-popup-inner {
//   position: absolute;
//   left: 15%;
//   right: 15%;
//   top: 10%;
//   bottom: 10%;
//   overflow: scroll;
//   margin: auto;
//   padding: 10px;
//   border-radius: 5px;
//   background: white;
//   pointer-events: auto;
// }
// .recipe-popup p {
//   font-size: 0.75rem;
// }

// .btn-primary {
//   background: $primary-color;
//   color: white;
//   border-color: $primary-color;
// }

// .cooked-btn {
//   width: 75px;
//   height: 25px;
//   border-color: $primary-color;
//   color: $primary-color;
//   background: white;
//   border-radius: 3px;
//   margin: 5px;
// }

// .cooked-btn.filled {
//   background: $primary-color;
//   color: white;
//   border-color: $primary-color;
// }

// .header-container {
//   display: flex;
//   justify-content: space-between;
// }

// .remove-btn {
//   width: 75px;
//   height: 25px;
//   border-color: rgba(255, 92, 92, 0.589);
//   color: rgba(255, 92, 92, 0.589);
//   margin: 5px;
// }

// .recipes-container {
//   display: grid;
//   /* flex-direction: row;
//   flex-wrap: wrap; */
//   grid-template-columns: repeat(auto-fill, 500px);
// }
